@model IEnumerable<Lesson17ASPwebMVC.Models.Domain.Product>

@{
    ViewData["Title"] = "SummAllProduct";
}

<h1>SummAllProduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
